# Week 1
# Introduction to Python

Python is today's most popular programming language. It is easy to learn, and has several very powerful scientific computing libraries, making it a powerful environment for scientific computing.

This tutorial will cover basic features of python and two of its libraries: numpy and matplotlib.

This notebook can be opened in Google Colab via this button:

<a href="https://colab.research.google.com/github/ch00226855/CMP414765Spring2021/blob/main/IntroToPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Hello World

In [2]:
# Print Hello World

print("Hello World")

Hello World

## 2. Variables
- Declare a variable
- Variable types

In [3]:
# Variable are declared without specifying types
a = 4
b = -5
print(a + b)

-1

In [4]:
# The type of a variable is automatically determined
a1 = 4
a2 = "4"
print(type(a1))
print(type(a2))

<class 'int'>
<class 'str'>

In [7]:
# In Python, a string can be define using either "" or ''
str1 = "Wednesday"
str2 = 'Wednesday'
print(str1)
print(str2)

Wednesday
Wednesday

In [9]:
str3 = 'Someone said "Hey!"'
str4 = "Someone said 'Hey!'"
print(str3)
print(str4)

Someone said "Hey!"
Someone said 'Hey!'

In [5]:
# Other commonly-used types are float and boolean
c = 1.5
d = True
print(type(c))
print(type(d))

<class 'float'>
<class 'bool'>

In [10]:
# Variable types can be changed like this:
float_a = float(a)
a_as_a_float = float(b)

# Exercise: show the variable type of float_a

print(type(float_a))
print(type(a_as_a_float))

<class 'float'>
<class 'float'>

## 3. Arithmetics

In [ ]:
# +, -, *, /

In [11]:
# // -> integer division
print(4 / 3) # gives a floating point number
print(4 // 3) # integer division always give an integer as answer

1.3333333333333333
1

In [12]:
# % -> Get remainder from integer division
print(5 % 3)

2

In [16]:
# Using % 10, you can extract the last digit of a number.
a = 239542
print(a % 10)

2

In [17]:
# ** -> powers
print(3 ** 2) # represents 3 to the power of 2 = 9
print(4 ** (1/2)) # square root of 4

9
2.0

Exercise: quadratic formula:

For quadratic equation $a{x^2}+{bx}+c=0$, its solutions are:

$x = \frac{-b \pm \sqrt{b^2 - 4ac}}{2a}$

In [20]:
# Use quadratic formulat to solve equation x**2 - 5x + 4 = 0
a = 1
b = -5
c = 4

disc = (b**2 - 4*a*c) ** (1/2) # sqrt(b^2-4ac)
x1 = (-b - disc) / (2*a) # (-b-disc)/2a
x2 = (-b + disc) / (2*a) # (-b+disc)/2a

print(x1, x2)

1.0 4.0

## 4. Assignment Operators

In [21]:
a = 1
a += 1 # a = a + 1
print(a)

2

In [22]:
b, c, d = 2, 3, 4
b -= 5 # updates b value 2-5 = 3
c *= 10 # updates c value 3*10 = 30
d /= 2 # updates d value 4/2 = 2
print(b, c, d)

-3 30 2.0

## 5. Logical Operators

In [23]:
t, f = True, False
print(t, f)

True False

In [24]:
print(True or False) # "or" means or
print(True and False) # "and" means and
print(not True)
print(not False)

True
False
False
True

In [25]:
# Comparisons: >, <, ==, !=, >=, <=
exp1 = (a > 5) and (b < 3)
print(a, b, exp1)

2 -3 False

## 6. Strings

In [26]:
str1 = "Hello"
str2 = 'World'
str3 = '3'
print(type(str3))
print(str1 + str2 + str3) # Use "+" to concatenate strings
print("My \n Name \n Is \t Liang.")
print('I said "Good Morning"') # If the string contains "", then use '' to define the string
print("I said \"Good Morning\"")

<class 'str'>
HelloWorld3
My
 Name
 Is 	 Liang.
I said "Good Morning"
I said "Good Morning"

In [29]:
# Remove extra space at the beginning and the end of a string
data_value = "     Liang Zhao     "
my_name = "Liang Zhao"
print(data_value == my_name)
print(data_value.strip())
print(data_value.strip() == my_name)

False
Liang Zhao
True

In [30]:
# Split a string
file_names = "Alex, Bob, Clare, David"
file_names.split(", ")

['Alex', 'Bob', 'Clare', 'David']

In [32]:
# String formatting
float_num = 45.67898765
print(float_num)
print("%5.2f" % (float_num))
print("%08.2f" % (float_num))
formatted_string = "Name: %10s | Score: %5d | Value: %.2f" % ("Alex", 89, 12.345)
print(formatted_string)
formatted_string = "Name: %10s | Score: %5d | Value: %.2f" % ("Bob", 9, 543.21)
print(formatted_string)

45.67898765
45.68
00045.68
Name:       Alex | Score:    89 | Value: 12.35
Name:        Bob | Score:     9 | Value: 543.21

## 7. Data Containers
Data containers are structures used to contain multiple values.

In [34]:
# List
list1 = [1, 2, 3, 4, 6.5, "Monday", True]

In [35]:
print(list1)
list1.append(12)
print(list1)

[1, 2, 3, 4, 6.5, 'Monday', True]
[1, 2, 3, 4, 6.5, 'Monday', True, 12]

In [36]:
val = list1.pop()
print(val)
print(list1)

12
[1, 2, 3, 4, 6.5, 'Monday', True]

In [37]:
# Indexing
print(list1[0])
print(list1[1])
print(list1[-1])
print(list1[-2])
print(list1[2:5]) # the second index is exclusive
print(list1[:5]) # omitting the first index means starting from 0
print(list1[2:]) # omitting the second index means going to the end
print(list1[:]) # prints out everything

1
2
True
Monday
[3, 4, 6.5]
[1, 2, 3, 4, 6.5]
[3, 4, 6.5, 'Monday', True]
[1, 2, 3, 4, 6.5, 'Monday', True]

In [38]:
len(list1)

7

In [39]:
# Set
set1 = {1, 2, 3, 3, 2, 1}
print(set1)

{1, 2, 3}

In [40]:
# Tuple - cant be changed
tuple1 = (1, 2, 3)
tuple2 = (2, 3, 1)
print(tuple1 == tuple2)

False

In [41]:
# Dictionary: (key, value)
dict1 = {"Alex": "A",
         "Bob": "B", 
         "Clare": "C"}
print(dict1['Alex'])
print(dict1['Clare'])

A
C

### 8. Loops and Branches

In [45]:
names = ['Alex', 'Bob', 'Clare']
for name in names: # for (variable) in (list of values):
    print(dict1[name]) # Use indentation (4 spaces) to indicate the loop body

A
B
C

In [48]:
for name in names:
    # just print the names
    print(name)

Alex
Bob
Clare

In [49]:
a = 2
if a > 0:
    print("Greater than zero.")
else: 
    print("Not greater than zero.")

Greater than zero.

In [50]:
a = 2
b = 4
if a < 0:
    print("a less than zero")
elif b > 0: # "elif" means "else if"
    print("a not less than zero, and b greater than zero")
else:
    print("neither is greater than zero")

a not less than zero, and b greater than zero

### 9. Functions

In [56]:
def sum_of_list(list1):
    sum = 0
    for x in list1:
        sum += x
    return sum

In [59]:
list1 = [1,3,4,5]
sum_of_list(list1)

13

In [ ]:
# Exercise: Create a funtion that finds the maximum value of a list
def find_maximum(list1):
    pass

## 10. Classes

In [ ]:
class Person():

    def __init__(self, name, age):
        self.name = name
        self.age = age
        print("Person object created.")

    def print(self):
        print("Name:", self.name, " | Age: ", self.age)

In [ ]:
alice = Person("Alice", 25)

In [ ]:
alice.print()

In [ ]:
class Student(Person):

    def __init__(self, name, age, id):
        super().__init__(name, age)
        self.id = id
        print("Student object created.")

    def print(self):
        super().print()
        print("ID: ", self.id)

In [ ]:
alice = Student("Alice", 25, 12345)

In [ ]:
alice.print()

## Example Program: Analyze Test Scores

In [63]:
# A list of student names and a list of students scores are given as follows:
names = ['Alice', 'Bob', 'Clare', 'David', 'Edward', 'Frank', 'Gabriel']
scores = [99, 88, 77, 66, 55, 44, 33]

Write a program to find the average score.

In [61]:
def find_average(scores):
    
    pass

Write a program that returns a list of student names who failed the course.

In [62]:
def who_failed(names, scores)

    pass

SyntaxError: ignored

Write a program that returns a list of letter grades.
- A: 90 - 100
- B: 80 - 89
- C: 70 - 79
- D: 60 - 69
- F: Below 60

In [ ]:
def get_letter_grades(scores):

    pass